@model IEnumerable<ProgettoS6GestionaleHotelSabrinaCinque.Models.Cliente>

@{
    ViewData["Title"] = "Anagrafica Cliente";
}

<h2>Anagrafica Cliente</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crea nuovo cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceFiscale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tb
        
    </tbody>
</table>
