@{
    ViewData["Title"] = "Home";
}

<body class="text-center">
    <div class="bg-light bg-opacity-75 m-5">
        <h1 class="my-5 display-1">Benvenuto<br /> nel gestionale hotel</h1>
        <h2 class="display-3">Scegli una delle seguenti opzioni:</h2>
        <ul class="list-unstyled text-center">
            <li><a asp-controller="Clienti" asp-action="Index" class="display-4">Anagrafica Cliente</a></li>
            <li><a asp-controller="Camere" asp-action="Index" class="display-4">Tipologia Camere</a></li>
            <li><a asp-controller="Servizi" asp-action="Index" class="display-4">Servizi</a></li>
            <li><a asp-controller="Prenotazioni" asp-action="Index" class="display-4">Prenotazioni</a></li>
            <li><a asp-controller="Ricerca" asp-action="Index" class="display-4">Ricerca</a></li>
        </ul>
    </div>
    
</body>

