@{
    ViewData["Title"] = "Home";
}

<h2>Benvenuto nel gestionale hotel</h2>
<p>Scegli una delle seguenti opzioni:</p>
<ul>
    <li><a asp-controller="Clienti" asp-action="Index">Anagrafica Cliente</a></li>
    <li><a asp-controller="Camere" asp-action="Index">Tipologia Camere</a></li>
    <li><a asp-controller="Servizi" asp-action="Index">Servizi</a></li>
    <li><a asp-controller="Prenotazioni" asp-action="Index">Prenotazioni</a></li>
</ul>
